[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybind11 = "==2.9.0"
pysimplegui = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"
